li a {
   color: blue;
}

/* 1. селектор тега */

p {
   color: red;
}
a {
   color: green;
}
span {
   color: yellow;
}
div {
   color: grey;
}

/* 2. селектор класса */
.ordinary-p {
   color: violet;
}
.link {
   color: aqua;
}
.ordinary-span {
   color: orange;
}
.ordinary-div {
   color: darkcyan;
}

/* 3. селектор id */
#selector_id,
#selector_class,
#selector_tag,
#selector_combi{
   color: black;
}

/* комбинации селекторов */
#selector_id p {
   color: darkgrey;
}
li a {
   color: blue;
}
h4.subtitle {
   color: pink;
}
.text.blue {
   color: blue;
}
.section .green {
   color: green;
}
.green * {
   color: darkred;
}
.block > p {
   color:blueviolet;
}
.tilda ~ span {
   color: darkgoldenrod;
}
.plus + a {
   color: aqua;
}